.review > h5, .review > p {
  background-color: transparent;
}

.review > h5 {
    font-family: 'Oxygen';
}

.review > p {
    color: rgb(221, 221, 221);
  font-size: 12.5px;
  font-family: 'Oxygen';
  /* text-overflow: ellipsis; */
  /* height: 500px; */
  /* white-space: pre-wrap;
  overflow: hidden;
  text-overflow: ellipsis; */
  display: -webkit-box;
  /* max-width: 400px; */
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.tv-shows{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 90px;
  /* line-height: 384px; */
  text-align: left;

  color: rgba(255, 255, 255, 0.19);
  margin: 0;
  padding: 0;
  margin-bottom: -35px;
}


/* CSS */
.button-52 {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid #6225E6;
  cursor: pointer;
  position: relative;
  background-color: #6225E6;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  color: #ffff;
  text-shadow: #6225E6 -10px 0px 0px;
}

.button-52:after {
  content: "";
  background-color: #D63737;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.button-52:hover:after {
  top: 0px;
  left: 0px;
}

@media (min-width: 768px) {
  .button-52 {
    padding: 13px 50px 13px;
  }
}

.btn-container {
  padding-top: 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

